@font-face {
  font-family: "Raleway";
  src: url("https://cdn.glitch.global/9fe9a1de-089b-4372-91cd-b09fcde0b2e2/Raleway-Medium.ttf?v=1693324528119");
  font-weight: 500;
}
@font-face {
  font-family: "Raleway";
  src: url("https://cdn.glitch.global/9fe9a1de-089b-4372-91cd-b09fcde0b2e2/Raleway-Black.ttf?v=1693324526258");
  font-weight: 700;
}
@font-face {
  font-family: "Raleway";
  src: url("https://cdn.glitch.global/9fe9a1de-089b-4372-91cd-b09fcde0b2e2/Raleway-Regular.ttf?v=1693324530547");
  font-weight: 400;
}
@font-face {
  font-family: "Raleway";
  src: url("https://cdn.glitch.global/9fe9a1de-089b-4372-91cd-b09fcde0b2e2/Raleway-SemiBold.ttf?v=1693324532639");
  font-weight: 600;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0px !important;
  padding: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0px 10px 20px 0px rgba(33, 33, 33, 0.25);
  height: 80px;
  padding: 0 104px;
}
.nav-links a {
  text-decoration: none !important;
  font-size: 1.0625rem;
  text-transform: uppercase;
  color: #212121;
  font-weight: 500;
  padding-left: 40px;
}

.right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-links {
  display: flex;
  flex-direction: row;
}